@charset "UTF-8";
/* обнуление */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0px;
  border: 0px;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */
/* --------------------------- */
body {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

._lock {
  overflow: hidden;
}

.container {
  max-width: 1210px;
  margin: 0px auto;
  height: auto;
}

a._active_ {
  color: #fce38a;
  padding-bottom: 6px;
  border-bottom: 3px solid #fce38a;
}

.first-accordion-trigger {
  margin-top: 0px !important;
}

/*=========================================================HEADER=========================================================*/
.header {
  position: relative;
  height: 100vh;
}

.header::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #ecaf86;
  z-index: 4;
  display: none;
}

.header__top {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background-color: transparent;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  z-index: 4;
}

.header__nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 24px;
}

.header__basket {
  margin-right: 78px;
  cursor: pointer;
  position: relative;
}

.header__basket::before {
  content: "\f07a";
  display: inline-block;
  color: white;
  font-family: 'icomoon' !important;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
  z-index: 4;
  right: 10px;
}

.header__search-box {
  padding: 0px 40px 0px 10px;
  height: 24px;
  width: 0%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: none;
}

.header__search-btn {
  min-width: 18px;
  min-height: 18px;
  position: absolute;
  right: 13px;
  top: 2px;
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header__search-btn::before {
  position: absolute;
  left: 0px;
  top: 3px;
  content: "\f002";
  display: inline-block;
  color: #ffffff;
  font-family: 'icomoon' !important;
  background-color: transparent;
}

.header__search-submit {
  min-height: 18px;
  display: none;
  min-width: 18px;
  position: absolute;
  top: 2px;
  right: 20px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: transparent;
}

.header__search-submit::before {
  position: absolute;
  left: 0px;
  top: 1px;
  content: "\f002";
  display: inline-block;
  background-color: #ffffff;
  font-family: 'icomoon' !important;
  background-color: transparent;
}

.header__top-wrapper {
  position: fixed;
  width: 100%;
  background-color: #e88282;
  z-index: 1;
}

.header__search-btn.active {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  right: -22px;
}

.header__search-btn.active::before {
  content: '';
  border: 8px solid transparent;
  border-left: 8px solid white;
}

.header__search-submit.active {
  display: block;
}

.header__search-submit.active::before {
  width: 18px;
  height: 18px;
  right: 30px;
  top: 3px;
}

.header__basket.active {
  margin-right: 24px;
}

.header__search.active {
  width: 200px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header__search-box.active {
  display: block;
  background-color: rgba(153, 153, 153, 0.473);
  border-radius: 14px;
  width: 98%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.nav__list {
  min-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__item {
  min-height: 18px;
}

.nav__links {
  min-height: 18px;
  font-size: 13.5px;
  text-transform: uppercase;
  color: #ffffff;
}

#slick-slide-control10 {
  position: relative;
}

#slick-slide-control10::after {
  content: 'Intro';
  display: inline-block;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  position: absolute;
  bottom: -40px;
  left: -24px;
}

#slick-slide-control11 {
  position: relative;
}

#slick-slide-control11::after {
  content: 'work';
  display: inline-block;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  position: absolute;
  bottom: -40px;
  left: -31px;
}

#slick-slide-control12 {
  position: relative;
}

#slick-slide-control12::after {
  content: 'about';
  display: inline-block;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  position: absolute;
  bottom: -40px;
  left: -32px;
}

#slick-slide-control13 {
  position: relative;
}

#slick-slide-control13::after {
  content: 'Contacts';
  display: inline-block;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  position: absolute;
  bottom: -40px;
  left: -50px;
}

/*===================================================SECTION__ABOUT========================================================*/
.title {
  text-align: center;
}

.center-gallery-link {
  margin: 0px 10px;
}

.about__article {
  padding-top: 90px;
  margin: 0px auto;
  text-align: center;
  max-width: 950px;
}

.about__subtitle {
  font-family: "Kaushan Script";
  font-size: 22px;
  font-weight: 400;
  color: #333333;
  line-height: 48px;
}

.about__title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  line-height: 56px;
  position: relative;
}

.about__title::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  left: 50%;
  bottom: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin-top: 90px;
}

.about__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}

.about__numbers {
  background-color: #95e1d3;
  min-height: 270px;
  margin-top: 120px;
}

.about__numbers-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.about__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 52px;
  max-width: 239px;
  width: 100%;
  min-height: 270px;
  text-align: center;
}

.about__number:nth-child(odd) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.section-subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #333333;
  line-height: 48px;
  font-family: "Kaushan Script";
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  line-height: 56px;
  position: relative;
}

.section-title::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  left: 50%;
  bottom: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery__link {
  display: inline-block;
  width: 130px;
  height: 30px;
}

.gradient__background-1,
.gradient__background-2,
.gradient__background-3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 380px;
  height: 250px;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__gradient-1 {
  background-image: url(../images/gallery-img-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 250px;
}

.about__gradient-1:hover {
  background-image: none;
  background-color: #95e1d3;
}

.about__gradient-1:hover .gradient__background-1 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.about__gradient-2 {
  background-image: url(../images/gallery-img-2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 250px;
  margin: 0px 10px;
}

.about__gradient-2:hover {
  background-image: none;
  background-color: #95e1d3;
}

.about__gradient-2:hover .gradient__background-2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.about__gradient-3 {
  background-image: url(../images/gallery-img-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 250px;
}

.about__gradient-3:hover {
  background-image: none;
  background-color: #95e1d3;
}

.about__gradient-3:hover .gradient__background-3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.gradient__text-1,
.gradient__text-2,
.gradient__text-3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.gradient__text-1::before,
.gradient__text-2::before,
.gradient__text-3::before {
  content: '';
  display: inline-block;
  width: 33px;
  height: 24px;
  background-image: url(../images/users-img.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  bottom: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.number__subtitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

/*=====================================================SERVICES===========================================================*/
.service {
  margin-top: 80px;
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
}

.first-row-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 170px;
  margin-top: 40px;
  padding-bottom: 10px;
}

.service-img {
  float: left;
  margin: 0px 30px;
}

.row-service-title {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
}

.row-service-text {
  display: inline-block;
  max-width: 275px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  margin-top: 10px;
}

.second-row-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 170px;
  padding-bottom: 10px;
}

/*======================================================DEVICES===========================================================*/
.devices {
  position: relative;
}

.devices__title {
  padding-top: 75px;
}

.tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 90px;
}

.phone {
  position: absolute;
  left: 60%;
  top: 55%;
}

/*=======================================================DO===============================================================*/
.do {
  padding: 0px 15px;
}

.do__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
  padding: 0px 15px;
}

.do__img {
  margin-right: 30px;
}

.do__image {
  max-width: 100%;
}

/*======================================================QUOTE==============================================================*/
.quote {
  background-color: #f8f8f8;
  position: relative;
  margin-top: 120px;
}

.quote-slider {
  position: relative;
  padding: 0px 75px;
  height: 290px;
}

.quote-slider__content {
  margin: 0px 0px 0px 60px;
}

.quote-slider__text {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #999999;
  font-style: italic;
}

.quote-slider__text-name {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  position: relative;
  padding: 0px 0px 0px 70px;
  margin-top: 20px;
}

.quote-slider__text-name::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.quote-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote-slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 12px;
  height: 24px;
}

.quote-slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/previous-arrow-img.svg") 0 0/100% no-repeat;
}

.quote-slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/next-arrow-img.svg") 0 0/100% no-repeat;
}

.quote-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
}

/*===========================================================TEAM=========================================================*/
.team {
  padding: 0px 15px;
}

.team__gallery {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-gallery__item {
  position: relative;
}

.team-gallery__photo {
  background-color: #95e1d3;
}

.team-gallery__img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.team-gallery__rectangle {
  max-width: 380px;
  width: 100%;
  height: 470px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.8)), to(rgba(243, 129, 129, 0.8)));
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team-gallery__photo:hover .team-gallery__rectangle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.team-gallery__photo:hover .team-gallery__img {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.rectangle-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 56px;
  width: 224px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rectangle-link {
  position: relative;
}

.rectangle-link:hover {
  background-color: #f38181;
}

.rectangle-link:hover::before {
  color: #fff;
}

.rectangle-link-1 {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
}

.rectangle-link-1::before {
  content: "\ea90";
  display: inline-block;
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f38181;
  font-size: 24px;
}

.rectangle-link-2 {
  width: 56px;
  height: 56px;
  border-right: 1px solid #f38181;
  border-left: 1px solid #f38181;
  background-color: #fce38a;
}

.rectangle-link-2::before {
  content: "\ea96";
  display: inline-block;
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f38181;
  font-size: 24px;
}

.rectangle-link-3 {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  border-right: 1px solid #f38181;
}

.rectangle-link-3::before {
  content: "\ead2";
  display: inline-block;
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f38181;
  font-size: 24px;
}

.rectangle-link-4 {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
}

.rectangle-link-4::before {
  content: "\ea92";
  display: inline-block;
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f38181;
  font-size: 24px;
}

.team-gallery-subtitle {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-gallery__title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.team-gallery__subtitle {
  font-family: "Roboto";
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.logos {
  min-height: 250px;
  background-color: #f8f8f8;
  position: relative;
  padding: 0px 15px;
  margin-top: 100px;
}

.logos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos__img {
  max-width: 202px;
  width: 100%;
}

.logos-content__img {
  width: 100%;
}

/*====================================================WORKS===============================================================*/
.works__container {
  margin-top: 100px;
  max-height: 780px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.works__image {
  width: 100%;
  height: 100%;
  float: right;
}

.works-slider {
  height: 440px;
  position: relative;
  padding: 130px 80px 0px;
}

.works-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 210px;
}

.works-slider__img {
  margin-right: 30px;
}

.works-slider__text {
  font-family: "Roboto";
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  color: #999999;
}

.works-slider__signature {
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  position: relative;
  padding-left: 70px;
  margin-top: 20px;
}

.works-slider__signature::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.works-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 12px;
  height: 24px;
}

.works-slider .slick-arrow.slick-prev {
  left: -0px;
  background: url("../images/previous-arrow-img.svg") 0 0/100% no-repeat;
}

.works-slider .slick-arrow.slick-next {
  right: -0px;
  background: url("../images/next-arrow-img.svg") 0 0/100% no-repeat;
}

.works-hover-layer {
  position: absolute;
  max-width: 1000px;
  max-height: 1000px;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.8)), to(rgba(243, 129, 129, 0.8)));
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-hover__title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.works-hover__title::before {
  content: '';
  height: 30px;
  width: 30px;
  display: inline-block;
  background-image: url(../images/works-hover-effect-title-img.svg);
  position: absolute;
  z-index: 2;
  margin-top: -42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.works-hover__title::after {
  content: 'Lorem ipsum dolor sit';
  display: inline-block;
  font-family: "Roboto";
  font-size: 13px;
  font-style: italic;
  margin-top: 17px;
  font-weight: 400;
  color: #ffffff;
}

.works-img-3 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.works-img-1,
.works-img-2,
.works-img-3,
.works-img-4,
.works-img-5,
.works-img-6,
.works-img-7 {
  position: relative;
}

.works__images:hover .works-hover-layer {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

/*======================================================CLIENTS===========================================================*/
.clients {
  background-image: url(../images/client-bg.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 15px 0px;
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clients__second-column {
  margin-left: 15px;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 230px;
}

.client__text {
  margin-left: 30px;
  max-width: 370px;
}

.client__name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.client__profession {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.client__profession::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #f38181;
  width: 60px;
  margin-top: 15px;
}

.client__comment {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  margin-top: 25px;
}

/*======================================================BLOG==============================================================*/
.blog {
  padding: 90px 15px 0px;
}

.blog__post:nth-child(2) {
  margin: 0px 20px;
}

.blog__row {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post {
  max-width: 380px;
}

.post__img {
  position: relative;
}

.post__image {
  width: 100%;
}

.post__title {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}

.post__text {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-bottom: 20px;
}

.post__actions {
  margin-top: 18px;
}

.post__comments, .post__views {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  font-style: italic;
  position: relative;
  margin-left: 25px;
}

.post__comments::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 15px;
  background-image: url(../images/post-view.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -29px;
  top: 1px;
}

.post__views::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: url(../images/post-comment.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -22px;
  top: 1px;
}

.date {
  height: 70px;
  background-color: #95e1d3;
  width: 60px;
  padding-top: 17px;
  position: absolute;
  bottom: 10px;
  left: -10px;
}

.date__number {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.date__month {
  display: block;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  margin-top: 7px;
}

/*======================================================MAP===============================================================*/
.map {
  height: 200px;
  margin-top: 70px;
}

.map__rectangle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 200px;
  background-image: url(../images/map-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.map__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f38181;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.map__title::before {
  content: '';
  display: block;
  background-image: url(../images/map-marker.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 26px;
  margin: 0px auto 16px;
}

.map__title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 20px auto 0px;
}

.map._active-map_ {
  height: 650px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.google-map {
  height: 0px;
  max-width: 1920px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.inset-map {
  opacity: 0;
}

.google-map._active-map_ {
  height: 450px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*====================================================CONTACTS============================================================*/
.contacts {
  padding: 80px 15px 0px;
}

.contacts__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: minmax(200px, 480px) 394px 296px;
      grid-template-columns: minmax(200px, 480px) 394px 296px;
  grid-column-gap: 26px;
}

.follow__title {
  font-size: 46px;
  font-weight: 700;
  color: #cccccc;
  line-height: 42px;
  margin-bottom: 32px;
}

.follow__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  min-height: 140px;
}

.follow__counter {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.follow__contacts {
  margin-top: 15px;
}

.follow__contact-text {
  color: #999999;
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.follow__contact-link-1::before {
  content: "\ea90";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__contact-link {
  color: #95e1d3;
  display: inline-block;
  margin-right: 10px;
}

.follow__contact-link:last-child {
  margin: 0px;
}

.follow__contact-link-2::before {
  content: "\ea96";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__contact-link-3::before {
  content: "\ea92";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__contact-link-4::before {
  content: "\ead2";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__contact-link-5::before {
  content: "\ea8b";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__contact-link-6::before {
  content: "\f16a";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__contact-link-7::before {
  content: "\eaa7";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__contact-link-8::before {
  content: "\eab9";
  font-family: 'icomoon' !important;
  display: inline-block;
  font-size: 16px;
}

.follow__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
}

.counter__number {
  color: #333333;
  font-weight: 700;
  font-size: 18px;
}

.counter__words {
  color: #333333;
  font-size: 14px;
}

.follow-form__e-mail {
  height: 40px;
  border: 1px solid #e7e7e7;
  width: 230px;
  background-color: #ffffff;
  padding: 14px 13px;
}

.follow-form__e-mail::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}

.follow-form__e-mail:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}

.follow-form__e-mail::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}

.follow-form__e-mail::placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #cccccc;
}

.follow-form__submit {
  height: 40px;
  background-color: #95e1d3;
  width: 150px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.blogs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs__card:last-child {
  margin-bottom: 0px;
}

.contacts-title {
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.card__header {
  margin-left: 20px;
  max-width: 200px;
}

.card__title {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.card__date {
  color: #999999;
  font-family: "Roboto";
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.instagram {
  -ms-grid-column-align: end;
      justify-self: end;
}

.instagram__gallery {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px 2px;
}

.instagram__link {
  display: block;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: italic;
  font-size: 13px;
  color: #333333;
  font-weight: 400;
  line-height: 24px;
}

/*===================================================FOOTER===============================================================*/
.footer {
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}

.footer__content {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__description {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}

.footer__link {
  font-size: 14px;
  font-weight: 700;
  color: #f38181;
  margin-left: 5px;
}

/*==================================================ACCORDION=============================================================*/
.accordion {
  max-height: 380px;
  max-width: 600px;
  width: 100%;
  overflow-y: hidden;
}

.accordion-item__trigger {
  padding: 14px;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.accordion-item__title {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
}

.accordion-item__content {
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  display: none;
  border: 1px solid #e5e5e5;
  padding: 20px 55px 28px 20px;
  overflow: auto;
  max-height: 155px;
}

.accordion-item__content::-webkit-scrollbar {
  margin-right: 10px;
  width: 5px;
}

.accordion-item__content::-webkit-scrollbar-track {
  background-color: rgba(149, 225, 211, 0.2);
  margin-right: 10px;
}

.accordion-item__content::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 1px;
  margin-right: 10px;
}

.accordion-item__arrow {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  right: 20px;
}

.accordion li.accordion-active .accordion-item__trigger .accordion-item__arrow {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.accordion-active .accordion-item__content {
  height: 100%;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*=======================================================BURGER============================================================================*/
.header__burger {
  display: none;
}

/*=====================================================HEADER-SLIDER========================================================================*/
.header__slider {
  padding-top: 70px;
  position: relative;
}

.header__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.header__slider .slick-dots li {
  margin: 0px 10px;
}

.header__slider .slick-dots button {
  font-size: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.header__slider .slick-dots li.slick-active button {
  background-color: #696767;
}

.header__slider .slick-dots li.slick-active button::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1 !important;
  visibility: visible !important;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 70vh;
  height: 100%;
}

.slider__subtitle {
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 66px;
  font-weight: 400;
  line-height: 87px;
}

.slider__title {
  text-align: center;
  max-width: 900px;
  color: #ffffff;
  font-size: 130px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.slider__title::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__button {
  margin-top: 120px;
}

.slider__btn {
  height: 40px;
  border: 3px solid #ffffff;
  background-color: transparent;
  width: 160px;
}

.slider__link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-dots .slick-track {
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
          transform: translate3d(0px, 0px, 0px) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-list {
  overflow: hidden;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  max-width: 1210px;
  width: 100%;
}

.slider-dots__item {
  margin: 0px 10px;
}

.slider-dots .slick-track {
  -webkit-transform: none;
          transform: none;
}

.slider-dots .slick-current .dots-box {
  border-top: 3px solid #fff;
}

.slider-dots .slick-current .dots-box::before {
  content: '';
  width: 70px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: 0px;
}

.slider-dots .slick-current .dots-box__name {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  font-size: 20px;
}

.dots-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 48px;
  max-width: 280px;
  width: 100%;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}

.dots-box__number {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 6px;
}

.dots-box__name {
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

/*======================================================MEDIA_1208PX======================================================*/
@media (max-width: 1208px) {
  .contacts__content {
    -ms-grid-columns: minmax(250px, 390px) 394px;
        grid-template-columns: minmax(250px, 390px) 394px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-row-gap: 30px;
    margin-top: 80px;
  }
  .instagram {
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .blog__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__post:first-child {
    margin: 0px 0px 30px 0px;
  }
  .blog__post:nth-child(2) {
    margin: 0px 20px 30px 20px;
  }
  .team-gallery__item:nth-child(2) {
    margin: 0px 20px;
  }
  .team__gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-slider .slick-arrow.slick-prev {
    left: 10px;
  }
  .works-slider .slick-arrow.slick-next {
    right: 10px;
  }
  .quote-slider .slick-arrow.slick-prev {
    left: 10px;
  }
  .quote-slider .slick-arrow.slick-next {
    right: 10px;
  }
  .about__gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 80px;
  }
  .about__gradient {
    margin-bottom: 20px;
  }
  .about__gradient:last-child {
    margin: 0px;
  }
  .about__article {
    padding: 70px 20px 0px;
  }
  .about__numbers {
    margin-top: 80px;
  }
}

/*=======================================================MEDIA_1024PX========================================================================*/
@media (max-width: 1024px) {
  .clients__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients__second-column {
    margin-left: 0px;
  }
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 230px;
  }
  .client__text {
    margin-left: 30px;
    max-width: 370px;
  }
  .client__comment {
    margin-top: 15px;
  }
  .slider__title {
    font-size: 110px;
    line-height: 120px;
  }
  .slider__title::before {
    bottom: -20%;
  }
  .slider__subtitle {
    font-size: 55px;
  }
  .slider__button {
    margin-top: 90px;
  }
  .do__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .do__img {
    display: none;
  }
  .do__image {
    width: 100%;
  }
}

/*===================================================MEDIA_946PX==========================================================*/
@media (max-width: 946px) {
  .card__header {
    max-width: 270px;
  }
  .contacts__content {
    -ms-grid-columns: minmax(250px, 394px);
        grid-template-columns: minmax(250px, 394px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    grid-row-gap: 40px;
    margin-top: 80px;
  }
  .blogs {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
  .instagram {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .instagram__title {
    margin-bottom: 26px;
  }
  .works-slider {
    padding: 130px 50px 0px;
  }
  .works-slider__text {
    font-size: 18px;
    line-height: 30px;
  }
  .works-slider__image {
    width: 160px;
    height: 160px;
  }
  .works-hover__title::after {
    margin-top: 10px;
  }
  .team-gallery__item:first-child {
    margin-bottom: 30px;
  }
  .team-gallery__item:nth-child(2) {
    margin-bottom: 30px;
  }
  .about__number {
    font-size: 48px;
  }
  .number__subtitle {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
  }
  .service__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .first-row-services {
    margin: 0px;
  }
}

/*========================================================MEDIA_767PX======================================================*/
@media (max-width: 767px) {
  .map {
    margin-top: 20px;
  }
  .blog {
    padding: 40px 15px;
  }
  .works-slider__text {
    font-size: 16px;
    line-height: 28px;
  }
  .works-slider__image {
    width: 140px;
    height: 140px;
  }
  .works__container {
    -ms-grid-rows: (25%)[4];
        grid-template-rows: repeat(4, 25%);
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .works-img-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .logos {
    display: none;
  }
  .do {
    border-top: 1px solid #cccccc;
  }
  .do__content {
    margin-top: 60px;
  }
  .devices {
    display: none;
  }
  .service {
    margin-top: 50px;
  }
  .first-row__service,
  .second-row__service {
    margin: 30px 0px;
  }
  .first-row-services,
  .second-row-services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }
  .about__numbers-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__number {
    max-width: 100%;
    width: 100%;
    min-height: 150px;
  }
  .header__top-wrapper {
    position: absolute;
    z-index: auto;
  }
  .slider-dots {
    display: none;
  }
  .slider__title {
    font-size: 75px;
    line-height: 90px;
  }
  .slider__title::before {
    bottom: -15%;
  }
  .slider__subtitle {
    font-size: 40px;
  }
  .slider__button {
    margin-top: 70px;
  }
  .header__basket {
    margin-right: 120px;
  }
  .header__basket::before {
    -webkit-transform: translateY(35%);
            transform: translateY(35%);
  }
  .header__basket .active {
    margin-right: 70px;
  }
  .header__search-btn.active {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    right: 85px;
  }
  .header__search {
    right: 110px;
    position: fixed;
  }
  .header::before {
    display: block;
    position: fixed;
  }
  .header__top {
    height: 80px;
  }
  .header__search-btn {
    right: 110px;
    top: 29px;
    position: fixed;
  }
  .header__search-btn::before {
    font-size: 16px;
  }
  .header__logo {
    position: fixed;
  }
  ._active {
    overflow: auto;
  }
  .nav__list {
    position: fixed;
    left: 0px;
    top: -130%;
    height: 120%;
    width: 100%;
    background-color: rgba(160, 152, 152, 0.9);
    z-index: 3;
    padding: 140px 10px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav__item {
    margin: 10px 0px;
    min-height: 40px;
  }
  .nav__links {
    font-size: 18px;
    letter-spacing: 0.4px;
  }
  .nav__list._active {
    top: -40px;
  }
  .header__burger {
    position: fixed;
    z-index: 4;
    display: block;
    width: 22px;
    height: 16px;
    right: 23px;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
  }
  .header__burger::before {
    top: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::after {
    bottom: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .span-1 {
    position: absolute;
    left: 0px;
    background-color: #000;
    width: 100%;
    height: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger._active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }
  .header__burger._active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 12px;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger._active {
    height: 25px;
  }
  a._active_ {
    color: #fff;
    border: none;
    padding: 0px;
  }
  .quote-slider {
    padding: 0px 40px;
  }
  .quote {
    margin-top: 70px;
  }
  .quote-slider__text {
    font-size: 16px;
    line-height: 28px;
  }
  .quote-img {
    max-width: 100px;
  }
  .quote-slider__text {
    font-size: 15px;
    line-height: 24px;
  }
  .quote-slider__text-name {
    font-size: 20px;
  }
}

/*================================================MEDIA_496PX==============================================================*/
@media (max-width: 496px) {
  .blog__post:nth-child(2) {
    margin: 0px 0px 30px 0px;
  }
  .clients__content {
    margin-top: 60px;
  }
  .client {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    max-height: 400px;
    height: auto;
  }
  .client:last-child {
    margin-bottom: 20px;
  }
  .client__text {
    margin-left: 0px;
    max-width: 490px;
  }
  .client__img {
    height: 120px;
  }
  .client__name {
    text-align: center;
  }
  .client__profession {
    text-align: center;
  }
  .client__profession::after {
    margin: 10px auto 0px;
  }
  .client__comment {
    margin-top: 15px;
  }
  .works-slider {
    height: 350px;
    padding: 80px 30px 0px;
  }
  .works-slider__text {
    font-size: 15px;
    line-height: 24px;
  }
  .works-slider__image {
    width: 100px;
    height: 100px;
  }
  .works-slider__signature {
    font-size: 20px;
  }
  .team-gallery__photo:hover .team-gallery__rectangle {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .team-gallery__photo:hover .team-gallery__img {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .team-gallery__item:nth-child(2) {
    margin: 0px 0px 30px 0px;
  }
  .quote-slider__content {
    margin: 0px 0px 0px 30px;
  }
  .quote-img {
    max-width: 80px;
  }
  .slider__title {
    font-size: 60px;
    line-height: 70px;
  }
  .slider__title::before {
    bottom: -15%;
  }
  .slider__subtitle {
    font-size: 30px;
  }
  .slider__button {
    margin-top: 70px;
  }
  .about__gallery {
    padding: 0px 10px;
  }
  .about__gradient-1,
  .about__gradient-2,
  .about__gradient-3,
  .gradient__background-1,
  .gradient__background-2,
  .gradient__background-3 {
    width: 100%;
    max-width: 380px;
  }
  .about__gradient-1:hover .gradient__background-1 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .about__gradient-2 {
    margin: 0px 0px 20px 0px;
  }
  .about__gradient-2:hover .gradient__background-2 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .about__gradient-3:hover .gradient__background-3 {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/*==================================================MEDIA_380PX============================================================*/
@media (max-width: 380px) {
  .follow__counter {
    margin-top: 15px;
  }
  .works-slider__image {
    display: none;
  }
  .works__container {
    max-height: none;
    -ms-grid-rows: (270px)[8];
        grid-template-rows: repeat(8, 270px);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .works-img-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .quote-slider__img {
    display: none;
  }
  .service__content-text {
    padding-right: 10px;
  }
  .slider__title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 70px;
  }
  .slider__title::before {
    bottom: -15%;
  }
  .slider__subtitle {
    display: none;
  }
  .slider__button {
    margin-top: 50px;
  }
  .header__slider {
    padding-top: 40px;
  }
  .header__search.active {
    width: 150px;
  }
  .header__search {
    right: 50px;
  }
}

@media (max-height: 380px) {
  .header__slider .slick-dots {
    margin-top: 20px;
  }
  .header__slider {
    padding-top: 40px;
  }
  .header {
    height: 170vh;
  }
}

@media (max-height: 540px) {
  .slider__btn {
    display: none;
  }
  .slider__subtitle {
    display: none;
  }
  .header {
    height: 130vh;
  }
  .header__slider {
    margin-top: 0px;
  }
  .header__slider .slick-dots {
    margin-top: 15px;
  }
  .slider__title {
    margin-top: 80px;
  }
}

@media (max-height: 620px) {
  .header {
    height: 105vh;
  }
}

.slick-list {
  overflow: hidden;
}
